<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (error) { %>
      <p>Error geting dynamic content.</p>
    <% } else { %>
      <p>The store has the following items:</p>
    <% } %>
    <ul>
      <li>Patterns: <%= data.item_count %></li>
      <li>Categories: <%= data.category_count %></li>
    </ul>

  </body>
</html>
