  <body>
        <div class='col-sm-2'>
          <block sidebar/>
            <ul class='sidebar-nav'>
              <li class = 'link'><a href='/catalog'>Home</a></li>
              <li class = 'link'><a href='/catalog/items'>All Patterns</a></li>
              <li class = 'link'><a href='/catalog/categories'>All Categories</a></li>
              <li><hr/></li>
              <li class = 'link'><a href='/catalog/item/create'>Add a new pattern</a></li>
              <li class = 'link'><a href='/catalog/category/create'>Add a new category</a></li>
            </ul>
        </div>
  </body>   
</html> 