body {
  padding: 10px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

.container-fluid {
  display: flex;
}

.title {
  height: 30px;
  display: block;
  margin-bottom: 40px;
}

h1 {
  align-items: center;
  text-align: center;
  font-family: "Volkhov",serif;
  color: #13383a;
  font-size: 4em;

}

.link {
  color: blue;
}

.col-sm-2 {
  display: block;
  min-width: 20%;
  max-width: 20%;
}

.sidebar-nav {

  margin-top: 20px;
  padding: 0;
  list-style: none;
}

ul {
  display: block;
  list-style: none;
}

.main-body {
  width: 100%;
  display: block;
  height: 100%;
  align-items: center;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
}

hr {
  display: block;
  width: 100%;
}

button {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}




