body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container-fluid {
  display: block;
}

.title {
  height: 30px;
  align-items: center;
  text-align: center;
}

.link {
  color: blue;
}

.col-sm-2 {
  display: block;
}

.sidebar-nav {
  width: 20%;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

ul {
  display: block;
}

.main-body {
  display: block;
  height: 100%;
  align-items: center;
  text-align: center;
}

hr {
  display: block;
  width: 100%;
}




